.loginhead {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;

  color: aliceblue;
  /* background-color: rgb(190, 164, 214); */
  padding: 0vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Adlog {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 1vw 1vw;
  /* background-color: rgb(250, 194, 194); */
  border-radius: 0 0 10px 10px;
}
input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}

.wrapper {
  height: 100vh;
  /* /This part is important for centering/ */
  display: grid;
  place-items: center;
}

.typingdemo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.hgh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
